
/*  头部*/

.box-size_default{
    box-sizing: border-box;
}
.header-box{
    width:900px;
    margin:0px auto;
    height: 130px;
}
.logo-box{
    margin: 0px auto;
    width: 120px;
    float: left;
}
.seach-box{
    margin-left: 200px;
    width: 520px;
    float: left;
}
.input-group{
    padding-top: 30px;
    line-height: 35px;
  
}
.seach-input{
    border: 2px solid #15dcff;
    border-right: none;
    padding-left: 28px;
    border-radius: 15px 0px 0px 15px;
    width: 400px;
    background: url('../images/search_03.png') no-repeat 7px center
}
.btn1{
    border: 2px solid #15dcff; 
    border-left: none;
    border-radius: 0px 15px 15px 0px;
   
    width: 70px;
    color: white;
}
.st_bg{
    background-image: linear-gradient(to right,#15dcff 0,#0059ff 100%);
}

/*  导航栏*/
.nav-width{
	width:600px;
}
ul li{
    margin: 0px;
    padding: 0px;
}
.demonav{
    opacity: 0.7;
    background-color: rgba(66, 68, 223, 0.7);
    height: 60px;
}
.navmenu li{
    float: left;
    display: block;
    width: auto;
    height: 60px;
    margin-left: 40px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    width: 120px;
    border-bottom: 8px solid transparent;
    transition: all 0.5s ease-in-out;
}
li.first{
    margin-left: 265px;
}
a:hover{
    text-decoration: none;
}
.navmenu li:hover{
    background-color: rgba(255,255,255,0.20);
    border-bottom: 8px solid #0059ff;
}
.link-width{
    width:200px
}
/*  导航栏*/
.nav-width{
	width:650px;
}

.nav-width-admin{
    width: 700px;
}