<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiexi.drug.mapper.CartMapper">

    <delete id="delCart">
        delete from cart
        where cartid in
        <foreach collection="ids"  item="ids" open="(" close=")" separator=",">
            #{ids}
        </foreach>
    </delete>
</mapper>