<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置日志记录-->
    <settings>
        <!-- 设置日志系统为LOG4J -->
        <setting name="logImpl" value="LOG4J"></setting>
    </settings>
    <!--使用自动扫描包来定义别名-->
    <typeAliases>
        <package name="com.jiexi.drug.pojo"/>
    </typeAliases>

</configuration>