
/*	Footer Block	*/
.footer-wrapper footer .link-block ul li.aboutus-block a, .main .related-pro-block .related-pro .product-grid li .pro-detail-block .pro-price, .main .related-pro-block .related-pro .product-grid li .pro-detail-block h4{ color:#FE6732; }
a {
	color: #d04526;
	text-decoration: none;
	outline: 0;
	line-height: inherit;
}
ul, li, h1, h2, h3, h4, h5, h6 {
	margin:0px;
	padding:0px;
	list-style:none;
}
.footer-wrapper footer .footer-bottom-block{ border-color:#FE6732;}


.footer-wrapper {
	float:left;
	width:100%;
	clear:both;
	background:#3A3A3A;
	padding:27px 0px 20px;
	margin-top:20px;
}
.footer-wrapper footer {
	max-width:1000px;
	margin:0px auto;
	color:#7A7A7A;
}
.footer-wrapper footer a {
	color:#7A7A7A;
}
.footer-wrapper footer a:hover {
	text-decoration:underline;
}
.footer-wrapper footer .link-block {
	float:left;
	width:100%;
}
.footer-wrapper footer .link-block ul {
	float:left;
	width:221px;
	margin-right:29px;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok {
	width:100%;
	margin:21px 0px 18px;
}
.footer-wrapper footer .link-block ul li {
	float:left;
	width:100%;
	line-height:29px;
}
.footer-wrapper footer .link-block ul li.aboutus-block {
	font-size:12px;
	line-height:22px;
}
.footer-wrapper footer .link-block ul li.link-title {
	border-bottom:1px solid #4D4D4D;
	padding-bottom:9px;
	margin-bottom:8px;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .social-links {
	float:left;
	padding:4px 0px 0px;
	margin:0px;
	width:auto;
}
.footer-wrapper footer .link-block .social-links li {
    border-radius: 800px 800px 800px 800px;
    display: inline-block;
    float: left;
    margin: 0 4px 3px 0;
	width:auto;
	-moz-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out 0s;
	transition: all 400ms ease-in-out 0s;
}
.social-links li a {
    display: block;
    height: 18px;
    opacity: 0.9;
    padding: 8px;
    width: 18px;
}
.social-links li a img {
    max-width: 100%;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .payment-block {
	float:right;
	padding:8px 0px 0px;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .payment-block a {
	float:left;
	width:38px;
	text-indent:-999em;
	height:23px;
	margin-left:8px;
	background:url(../images/common.png);
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .payment-block a.mastercard {
	background-position:0px -39px;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .payment-block a.american-express {
	background-position:-46px -39px;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .payment-block a.visa {
	background-position:-92px -39px;
}
.footer-wrapper footer .link-block ul.stay-connected-blcok .payment-block a.paypal {
	background-position:-139px -39px;
}
.footer-wrapper footer .footer-bottom-block {
	float:left;
	width:100%;
	border-top:1px solid #FE6732;
	padding:19px 0px 0px;
}
.footer-wrapper footer .footer-bottom-block .bottom-links {
	float:left;
}
.footer-wrapper footer .footer-bottom-block .bottom-links li {
	float:left;
	padding-right:13px;
}
.footer-wrapper footer .footer-bottom-block .copyright-block {
	margin:0px;
	float:right;
	font-size:11px;
}