.pro-img{
	display:block;
	height:217px;
	text-align:center;
	margin:5px;
}
.pro-img img{
	margin:20px 0px;
	display:inline-block;
}
.pro-content{
	float:left;
	width:100%;
	padding:11px 0px 0px;
	border-top:1px solid #FE6732;
	color:#000;
	text-align:center;
}
.pro-content p{
	margin-bottom:10px;
}
.pro-btn-block a:hover {
    background: #e6e6e6;
    color: #363636;
}
.pro-price{
	color: #FE6732;
	display:block;
	clear:both;
	padding:5px 10px 14px;
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.pro-btn-block{
	display:block;
	clear:both;
	padding:0px 10px;
}
.pro-btn-block a{
	text-decoration: none;
    outline: 0;
    line-height: inherit;
	background: #FE6732;
	font-size:11px;
	padding:9px 15px;
	text-align:center;
	color:#fff;
	-moz-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out ;
}
.pro-link-block {
	display:block;
	clear:both;
	padding:10px 10px 14px;
}
.pro-link-block a {
	font-size:11px;
	padding-left:22px;
	color:#444;
	-moz-transition: all 400ms ease-in-out 0s;
	-ms-transition: all 400ms ease-in-out 0s;
	-o-transition: all 400ms ease-in-out ;
}

.spUl li{
    width: 200px;
    float: left;
    margin: 15px;
    border: 1px solid #ccc;
}