@charset "utf-8";
.wrapper{
	width: 1212px;
	margin: 0 auto;
}
.mb20{
	margin-bottom: 20px;
}
.header{
	width: 100%;
	height: 115px;
	border-bottom: 1px solid #e7e7e7;
}
.header .logo{
    width: 107px;
    height: 74px;
    overflow: hidden;
    padding-top: 35px;
}
.header .nav{
	padding: 40px 80px 0 130px
}
.header .nav li{
	float: left;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	padding: 0 10px;
	margin: 0 20px;
}
.header .oper_btn a{
	width: 98px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	border: 1px solid #38a0e1;
	text-align: center;
	color: #38a0e1;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	margin: 34px 0 0 20px;
}
.header .oper_btn a.current{
	background: #38a0e1;
	color: #fff;
}
.person_news{
	position: relative;
	/*width: 180px;*/
	margin-left: 28px;
	/*overflow: hidden;*/
	padding: 35px 18px 0 20px;
}
.person_news>a{
	display: block;
	height: 79px;
	overflow: hidden;
}
.user_icon{
	width: 45px;
	height: 45px;
	overflow: hidden;
	border-radius: 22.5px;
	-webkit-border-radius: 22.5px;
	-moz-border-radius: 22.5px;
}
.user_name{
	width: 100px;
	height: 45px;
	line-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 2px;
}
.drop_list{
	display: none;
	position: absolute;
    left: 20px;
    top: 114px;
    z-index: 1000;
    width: 130px;
    /* padding: 15px 0 13px; */
    background: #fff;
    border: 1px solid #e7e7e7;
}

.drop_list li{
	width: 100%;
}
.drop_list li a{
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 22px;
}
.drop_list li a:hover {
    color: #fff;
    background-color: #9399a6;
}
a{
	text-decoration: none;
}
a:foucs{
	border: none;
	outline: none;
}
*{
	margin: 0;
	padding: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
input, button, textarea, a {
    outline: none;
    border: none;
}
input::-ms-clear, input::-ms-reveal{
	display: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
h1{
	font-size: 24px;
}
@font-face{
	font-family:"Roboto,sans-serif";
	font-weight:300;
	font-style:normal;
	font-stretch:normal;
}
@font-face {
	font-family: 'Flaticons Stroke';
	src: url(../fonts/flaticons-stroke.eot);
	src: url(../fonts/flaticons-stroke.eot?#iefix) format("embedded-opentype"), 
		 url(../fonts/flaticons-stroke.woff) format('woff'), 
		 url(../fonts/flaticons-stroke.ttf) format('truetype'), 
		 url(../fonts/flaticons-stroke.svg#flaticons-stroke) format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), 
		 url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), 
		 url(../fonts/glyphicons-halflings-regular.woff) format('woff'), 
		 url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), 
		 url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
@font-face {
	font-family: FontAwesome;
	src: url(../fonts/fontawesome-webfont.eot?v=4.4.0);
	src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format('embedded-opentype'), 
	     url(../fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'), 
	     url(../fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'), 
		 url(../fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'), 
		 url(../assets/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format('svg');
	font-weight: 400;
	font-style: normal
}
.fa {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased
}
.fa.fa-question-circle {
    color: #9399a6;
}

*, :after, :before{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li{
	list-style: none;
}
.clearfix:after{ 
	content:"."; 
	display:block; 
	clear:both; 
	font-size:0; 
	height:0; 
	overflow:hidden;
}
.clearfix{ 
	zoom:1;
}
.alert .alert-link, .badge, .close, .label, .popover-title, b, dt, h1, h2, h3, h4, h5, h6, label, optgroup, strong {
    font-weight: 400;
}
fieldset {
    border: 0;
}
a{
	color: #2b313f;
}
/*@media (min-width:992px) {
	.container {
		width: 970px
	}
}
@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}*/


.marker{
	background-color:#36a0e1;
	position:absolute;
	width:2px;
	height:18px;
	cursor:pointer;
}
[contenteditable] {
	outline: none;
    cursor: text;
}
.container{
	position: relative;
	width: 306px;
	max-width: 500px;
	overflow: hidden;
	left: 50%;
	padding-top: 50px;
	margin-left: -153px;
}
.input_row .input_list{
	/*float: left;*/
	display: inline-block;
	vertical-align: middle;
	width: 306px;
	height: 48px;
	padding: 10px 16px;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	overflow: hidden;
}
.input_row .input_list:focus{
	border-color: #38a0e1;
}
.sub_list_b{
	width: 306px;
	margin: 13px 0 32px;
}
.input_row .input_list.sub_btn{
	border: 1px solid #38a0e1;
	background: #38a0e1;
	overflow: hidden;
	font-size: 16px;
	color: #fff;
}
.sub_list_b .ico_btn{
	color: #A1A1A1;
}
.sub_list_b .ico_btn:hover{
	color: #38a0e1;
}
/*setpwdByEmail*/
.spb_container{
	/*margin-top: 60px;*/
	/*top: 175px;*/
}
.tip{
	font-size: 20px;
	margin-bottom: 46px;
	text-align: center;
}
/*registerByphone*/
.input_row .code_row{
	display: inline-block;
    vertical-align: middle;
	width: 306px;
}
.input_row .code_row .input_list{
	width: 200px;	
}
.input_row .code_row .send{
	width: 96px;
	height: 48px;	
	border: 1px solid #38A0E1;
	color: #38A0E1;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-align: center;
	line-height: 48px;
}
.rbp_container .input_row .input_list.sub_btn{
	margin-top: 34px;
}
.msg.red{
	/*float: left;*/
	display: inline-block;
	vertical-align: middle;
	color: #f00;
	max-width: 160px;
	margin-left: 10px;
}
.thd_login{
	margin-top: 40px;
}
.thd_login .title{
	width: 520px;
	margin: 0 auto 15px;
}
.thd_login .title .line,.thd_login .title label{
	display: inline-block;
	vertical-align: middle;
}
.thd_login .title label{
	margin: 0 10px;
	color: #797979;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.thd_login .title .line{
	width: 200px;
	height: 0;
	overflow: hidden;
	border-bottom: 1px solid #b5b4b7;
}
.thd_login .thd_l_way{
	text-align: center;
}
.thd_login .thd_l_way a{
	display: inline-block;
	vertical-align: middle;
	margin: 0 16px;
}
.thd_login .thd_l_way a {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	overflow: hidden;
}
/**/
.user_news{
	width: 637px;
	margin: 0 auto;
	padding: 66px 70px 45px;
	text-align: center;
	border-bottom: 1px solid #b5b4b7;
}
.user_news .thd_user_head,
.user_news .thd_user_new{
	display: inline-block;
	vertical-align: top;
}
.user_news .thd_user_head{
	width: 80px;
	height: 80px;
	overflow: hidden;
}
.user_news .thd_user_new{
	padding-top: 16px;
	text-align: left;
	height: 70px;
	margin-left: 10px;
	overflow: hidden;
	color: #666;
}
.user_news .thd_user_new .thd_user_name{
	max-width: 388px;
	font-weight: 700;
	font-size: 20px;
	font-family: "微软雅黑";
	margin-bottom: 8px;
	overflow: hidden;
}
.user_news .thd_user_new .thd_user_name label{
	max-width: 300px;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 10px;
	color: #2b313f;
}
.ld_container{
	padding-top: 52px;
}
.ld_container .bd_o_act,.ld_container .sub_btn{
	display: inline-block;
	vertical-align: middle;
}
.ld_container .sub_btn{
	width: 175px;
}
.ld_container .bd_o_act{
	height: 24px;
	line-height: 16px;
	padding: 4px 0;
	margin-left: 26px;
	overflow: hidden;
}
.ted{
	width: 300px;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}
.all{
	margin: 0px auto;
	margin-top: 100px;
	width: 400px;
	border: 1px solid #000;
	border-radius: 20px;
	padding: 20px;
	filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
}